@{
    ViewData["Title"] = "Головна";
}

<h1>Ласкаво просимо в наш кінотеатр!</h1>
<p>Перегляньте наш каталог фільмів та бронюйте місця онлайн.</p>

<a href="/Movies" class="btn btn-primary">Переглянути фільми</a>
